extends /layouts/default


block title
  title Index

block content
  section.welcome
    div.confetti-cannon
    h1 Great! Your development setup is ready!
    h2 Now go and edit those #[img(src="/assets/icons/file_type.svg", alt="An image of a file type, specifically XML")] files

block scripts
  script(src="/js/app.min.js")