<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="/css/styles.min.css" rel="stylesheet" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="humans.txt" rel="author" />
        
        <!-- Primary Meta Tags -->
		<title>Index</title>
		<meta name="description" content="" />
        
        <!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="" />
		<meta property="og:image" content="" />
        
        <!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="" />
		<meta property="twitter:title" content="" />
		<meta property="twitter:description" content="" />
		<meta property="twitter:image" content="" />
        
        <!-- Favicon -->
		<link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicon/apple-icon-57x57.png" />
		<link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicon/apple-icon-60x60.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicon/apple-icon-72x72.png" />
		<link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicon/apple-icon-76x76.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicon/apple-icon-114x114.png" />
		<link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicon/apple-icon-120x120.png" />
		<link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicon/apple-icon-144x144.png" />
		<link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon/apple-icon-152x152.png" />
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-icon-180x180.png" />
		<link rel="icon" type="image/png" sizes="192x192" href="/assets/images/favicon/android-icon-192x192.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicon/favicon-96x96.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png" />
		<meta name="msapplication-TileColor" content="#F8333C" />
		<meta name="msapplication-TileImage" content="/assets/images/favicon/ms-icon-144x144.png" />
		<meta name="theme-color" content="#F8333C" />
        
        <!-- Analytics Scripts -->
	</head>
	<body>
		<header class="text-white bg-gray-600">
			<nav class="box-border flex flex-row items-center justify-end h-full px-5 py-4">
				<a class="box-border flex flex-row items-center h-full mr-auto no-underline justify-evenly" href="/">
					<img class="w-8" src="/assets/icons/file-type.svg" alt="" />
                </a>
                <a id="menu" class="inline-block sm:hidden" href="#menu">
                    <img class="w-8" src="/assets/icons/icon-menu.svg" alt="Menu button" />
                </a>
                <div>
                    <a class="hidden px-6 py-3 no-underline transition duration-500 ease-in-out border-b-2 border-transparent border-solid sm:inline-block hover:border-white" href="#">Home</a>
                    <a class="hidden px-6 py-3 no-underline transition duration-500 ease-in-out border-b-2 border-transparent border-solid sm:inline-block hover:border-white" href="#">About Us</a>
                    <a class="hidden px-6 py-3 no-underline transition duration-500 ease-in-out border-b-2 border-transparent border-solid sm:inline-block hover:border-white" href="#">Portoflio</a>
                    <a class="hidden px-6 py-3 no-underline transition duration-500 ease-in-out border-b-2 border-transparent border-solid sm:inline-block hover:border-white" href="#">Contact</a>                
                </div>
			</nav>
		</header>
		<section class="flex items-center justify-center welcome">
			<div class="confetti-cannon"></div>
			<h1 class="leading-none">Great! Your development setup is ready!</h1>
			<h2 class="flex items-center justify-center mt-4">
				Now go and edit those
				<img src="/assets/icons/file-type.svg" alt="An image of a file type, specifically XML" />
				files
			</h2>
		</section>
		<footer class="flex flex-row items-center justify-center h-10 text-white bg-gray-600">
			<p>Copyright © All rights reserved</p>
			<time id="year" class="ml-2" datetime=""></time>
		</footer>
		<script src="/js/app.min.js"></script>
	</body>
</html>
