footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  color: $white;
  background-color: rgb(31, 32, 32);
  font-family: 'Whitney-Light';
  
  & span {
    margin-left: 10px;
    font-family: 'Whitney-Light';
  }
}