header {

  height: 60px;
  color: $white;
  background-color: #383838;

  navigation {

    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 5px 20px;


    & a:not(:first-child) {
      color: white;
      padding: 10px;
      font-family: 'Whitney-Medium';
      text-decoration: none;

      &:hover {
        border-bottom: 2px solid white;
      }
    }


    & .logo {

      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      height: 100%;
      padding: 10px;
      margin-right: auto;
      text-decoration: none;

      img {
        width: 25px;
      }
     
    }
  }
}